/* line 4, ../sass/_base.scss */
.views-field-delete-node a:before,
.views-field-delete-link a:before {
  position: relative;
  top: -1px;
  color: #cc0000;
  font-family: 'FontAwesome';
  font-size: 21px;
  content: '\f014';
}

/* line 15, ../sass/_base.scss */
.views-field-edit-node a:before,
.views-field-edit-link a:before {
  position: relative;
  top: 1px;
  color: #2865b8;
  font-family: 'FontAwesome';
  font-size: 21px;
  content: '\f044';
}

/* line 5, ../sass/ca-manage-entities.scss */
.view-header .action-links a {
  font-size: 18px;
  margin-right: 20px;
}
/* line 8, ../sass/ca-manage-entities.scss */
.view-header .action-links a:before {
  content: "\f055";
  font-family: 'FontAwesome';
  margin-right: 5px;
}

/* line 21, ../sass/ca-manage-entities.scss */
.views-field-delete-node a,
.views-field-edit-node a,
.views-field-delete-link a,
.views-field-edit-link a {
  display: inline;
  color: transparent;
}

/* line 28, ../sass/ca-manage-entities.scss */
.views-field-delete-node a,
.views-field-delete-link a {
  position: absolute;
  right: 0;
  margin-top: -9px;
  color: transparent !important;
}
/* line 33, ../sass/ca-manage-entities.scss */
thead .views-field-delete-node a, thead
.views-field-delete-link a {
  display: none;
}

/* line 40, ../sass/ca-manage-entities.scss */
.views-field-edit-node a,
.views-field-edit-link a {
  position: absolute;
  right: 40px;
  margin-top: -9px;
  color: transparent !important;
}
/* line 44, ../sass/ca-manage-entities.scss */
thead .views-field-edit-node a, thead
.views-field-edit-link a {
  border: 1px solid red;
  display: none;
}

/* line 52, ../sass/ca-manage-entities.scss */
.view thead {
  display: none;
}
