/* line 8, ../sass/ca-menutree.scss */
#menu-overview-form #edit-actions-submit {
  background-image: linear-gradient(#4e9fea 0%, #417ed2 100%);
  border: 0 solid transparent;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Source Sans',Lucida Sans Unicode,Lucida Grande,Segoe UI,sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  height: 2.2em;
  margin-right: 0.5em;
  padding: 0 17px;
  text-align: center;
}

/* line 28, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .field-name-field-content-state {
  float: right;
}
/* line 34, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .warning {
  display: none;
}
/* line 38, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-additem td {
  padding: 10px;
}
/* line 43, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-additem .form-item input, #menu-overview-form #menu-overview .menu-additem .form-item select {
  border: 1px solid #2865b8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 48, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-additem .form-item label {
  display: none;
  /* display:none; */
}
/* line 54, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview tbody {
  border: 0;
}
/* line 56, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview tbody tr {
  background-color: white !important;
}
/* line 58, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview tbody tr td {
  background-color: white !important;
}
/* line 64, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview tbody tr:hover .tabledrag-handle {
  position: relative;
  z-index: 100;
}
/* line 68, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview tbody tr:hover .add-sibling {
  display: inline-block;
  position: absolute;
}
/* line 73, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview tbody tr .add-sibling {
  /* width:20px; */
  /* height:20px; */
  margin-left: 15px;
  overflow: hidden;
  display: none;
  font-size: 12px;
  line-height: 2;
}
/* line 82, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview tbody tr .add-sibling:before {
  line-height: 1;
  position: relative;
  top: 2px;
  font-family: 'FontAwesome';
  content: '\f055';
  color: #2865b8;
  font-size: 16px;
  margin-right: 3px;
}
/* line 101, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview tbody tr .menu-enabled {
  display: none;
}
/* line 104, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview thead {
  display: none;
}
/* line 113, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview thead .checkbox {
  display: none;
}
/* line 118, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-dropbutton {
  background: none;
}
/* line 120, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-dropbutton:hover {
  background: none;
}
/* line 124, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-content {
  border: 0;
  position: relative;
  top: -5px;
}
/* line 128, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-content:hover {
  background: none;
}
/* line 131, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-content .delete, #menu-overview-form #menu-overview .menu-operations .ctools-content .edit {
  display: inline-block !important;
  height: 23px;
  width: 30px;
  margin: 0 5px;
  padding: 0 !important;
}
/* line 137, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-content .delete a, #menu-overview-form #menu-overview .menu-operations .ctools-content .edit a {
  color: transparent;
  width: 100%;
  height: 100%;
  border: 0;
}
/* line 144, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-content .delete a, #menu-overview-form #menu-overview .menu-operations .ctools-content .edit a {
  display: inline !important;
}
/* line 148, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-content .delete a:before {
  position: relative;
  top: -1px;
  color: #cc0000;
  font-family: 'FontAwesome';
  font-size: 21px;
  content: '\f014';
}
/* line 159, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-content .edit a:before {
  position: relative;
  top: 1px;
  color: #2865b8;
  font-family: 'FontAwesome';
  font-size: 21px;
  content: '\f044';
}
/* line 168, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-content li {
  display: none;
}
/* line 176, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-operations .ctools-link {
  display: none !important;
}
/* line 180, ../sass/ca-menutree.scss */
#menu-overview-form #menu-overview .menu-overview-title-edit-trigger {
  display: none;
}
